h1 {
    font-family: "Verdana", Verdana, sans-serif;
    font-size: 2em;
}
h2 {
    font-family: "Verdana", Verdana, sans-serif;
    font-size: 1.1em;
    font-weight:normal;
}

#hexGame {
    font-family: "Verdana", Verdana, sans-serif;
}

#difficultyLabel {
    font-family: "Verdana", Verdana, sans-serif;
    font-size: 1em;
}

#difficulty {
  display: inline-block;
}

#turns {
  display: inline-block;
}

#startButton {
  display: block;
}

#targetColor {
  display: inline-block;
}

#myColor {
  display: inline-block;
}

#highScoreForm {
    display: none;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding-top: 200px;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.hi-score-form-content {
    background-color: whitesmoke;
    width: 40%;
    height: 100px;
    padding: 20px;
    margin: auto;
    border: 1px solid darkgray;
    text-align: center;
}

#submitButton {
    color: lightblue;
    font-size: 28px;
    font-weight: bold;
}

#submitButton:hover, #submitButton:focus {
    cursor: pointer;
    color: red;
    text-decoration: none;
}


/*scores file*/
table {
    margin: auto;
    border: 1px solid black;
}
table::after {
    position: absolute;
    content: "THE END";
    font-size: smaller;
    font-style: italic;
    align-content: center;
    left: calc(50% - 25px);
    margin-top: 10px;
}
td, th {
    text-align: center;
}
.titleClass {
    text-align: center;
}



/*custome slider*/
/*grab sliders from http://danielstern.ca/range.css/#/*/
input[type=range].redSlider {
  -webkit-appearance: none;
  width: 20%;
  margin: 7.5px 0;
}
input[type=range].redSlider:focus {
  outline: none;
}
input[type=range].redSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #010101;
}
input[type=range].redSlider::-webkit-slider-thumb {
  box-shadow: 2px 2px 1px #000000, 0px 0px 2px #0d0d0d;
  border: 2px solid #640000;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #ff0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
}
input[type=range].redSlider:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].redSlider::-moz-range-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #010101;
}
input[type=range].redSlider::-moz-range-thumb {
  box-shadow: 2px 2px 1px #000000, 0px 0px 2px #0d0d0d;
  border: 2px solid #640000;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #ff0000;
  cursor: pointer;
}
input[type=range].redSlider::-ms-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].redSlider::-ms-fill-lower {
  background: #f2f2f2;
  border: 2px solid #010101;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].redSlider::-ms-fill-upper {
  background: #ffffff;
  border: 2px solid #010101;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].redSlider::-ms-thumb {
  box-shadow: 2px 2px 1px #000000, 0px 0px 2px #0d0d0d;
  border: 2px solid #640000;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #ff0000;
  cursor: pointer;
  height: 25px;
}
input[type=range].redSlider:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].redSlider:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type=range].greenSlider {
  -webkit-appearance: none;
  width: 20%;
  margin: 7.5px 0;
}
input[type=range].greenSlider:focus {
  outline: none;
}
input[type=range].greenSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #010101;
}
input[type=range].greenSlider::-webkit-slider-thumb {
  box-shadow: 2px 2px 1px #000000, 0px 0px 2px #0d0d0d;
  border: 2px solid #006400;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #00ff00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
}
input[type=range].greenSlider:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].greenSlider::-moz-range-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #010101;
}
input[type=range].greenSlider::-moz-range-thumb {
  box-shadow: 2px 2px 1px #000000, 0px 0px 2px #0d0d0d;
  border: 2px solid #006400;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #00ff00;
  cursor: pointer;
}
input[type=range].greenSlider::-ms-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].greenSlider::-ms-fill-lower {
  background: #f2f2f2;
  border: 2px solid #010101;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].greenSlider::-ms-fill-upper {
  background: #ffffff;
  border: 2px solid #010101;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].greenSlider::-ms-thumb {
  box-shadow: 2px 2px 1px #000000, 0px 0px 2px #0d0d0d;
  border: 2px solid #006400;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #00ff00;
  cursor: pointer;
  height: 25px;
}
input[type=range].greenSlider:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].greenSlider:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type=range].blueSlider {
  -webkit-appearance: none;
  width: 20%;
  margin: 7.5px 0;
}
input[type=range].blueSlider:focus {
  outline: none;
}
input[type=range].blueSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #010101;
}
input[type=range].blueSlider::-webkit-slider-thumb {
  box-shadow: 2px 2px 1px #000000, 0px 0px 2px #0d0d0d;
  border: 2px solid #000064;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #0000ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.5px;
}
input[type=range].blueSlider:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range].blueSlider::-moz-range-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #010101;
}
input[type=range].blueSlider::-moz-range-thumb {
  box-shadow: 2px 2px 1px #000000, 0px 0px 2px #0d0d0d;
  border: 2px solid #000064;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #0000ff;
  cursor: pointer;
}
input[type=range].blueSlider::-ms-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].blueSlider::-ms-fill-lower {
  background: #f2f2f2;
  border: 2px solid #010101;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].blueSlider::-ms-fill-upper {
  background: #ffffff;
  border: 2px solid #010101;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].blueSlider::-ms-thumb {
  box-shadow: 2px 2px 1px #000000, 0px 0px 2px #0d0d0d;
  border: 2px solid #000064;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #0000ff;
  cursor: pointer;
  height: 25px;
}
input[type=range].blueSlider:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range].blueSlider:focus::-ms-fill-upper {
  background: #ffffff;
}
